div.eltd-testimonial-image-holder {
  display: none!important;
}

div.eltd-testimonial-content {
  width: 100%!important;
}

div.eltd-testimonials div.owl-wrapper-outer.autoHeight {
  height: inherit!important;
}
